.game-controls {
  display: block;
  padding: 15px;
  /*background-color: rgba(255, 255, 255, 0.5);*/
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
}

.game-controls .controls-top {
  overflow: hidden;
}

.game-controls .controls-left {
  width: 33.33%;
  float: left;
  font-size: 28px;
}

.game-controls .controls-bottom p span,
.game-controls .controls-left p span {
  font-weight: bold;
}

.game-controls .controls-center {
  width: 33.33%;
  float: left;
  text-align: center;
}

.game-controls .controls-right {
  width: 33.33%;
  float: right;
  text-align: right;
}

.game-controls .controls-bottom {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}

.game-controls .controls-bottom p {
  margin: 0;
  padding: 0;
}

.game-controls .controls-left p {
  margin: 0px 0px 10px 0px;
  padding: 0;
}

.game-controls .button {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}

.game-controls .button.plus {
  background-image: url("https://www.mystudio.bg/new/images/plus.png");
}

.game-controls .button.minus {
  background-image: url("https://www.mystudio.bg/new/images/minus.png");
}

.game-controls .button.shuffle {
  background-image: url("https://www.mystudio.bg/new/images/shuffle.png");
  width: 90px;
  height: 90px;
}

.game-controls .button.shuffle.disabled {
  filter: grayscale(100%);
}
